@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@media only screen and (min-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  section {
    padding: 10rem 0 7rem;
    max-width: 100vw;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    width: 100%;
    background-color: rgb(61, 60, 60);
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 2;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
  }

  .top-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-right: 200px;
  }

  .logo a {
    text-decoration: none;
    color: rgb(18, 17, 17);
  }

  .menu-links a {
    text-decoration: none;
    color: rgb(61, 60, 60);
  }

  .top-bar ul a {
    text-decoration: none;
    color: #fff;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
    top: 30px;
    border-bottom: 3px solid rgb(249, 246, 246);
  }

  .logo {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 200px;
    font-family: "Lato", sans-serif;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .humburger {
    display: none;
  }

  .menu-links {
    padding-right: 200px;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-links a:hover {
    color: rgb(237, 76, 18);
  }

  .menu-links ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 70px;
    align-items: center;
  }

  .menu-link:nth-child(6) li {
    border: 5px solid rgb(237, 76, 18);
    padding: 10px;
    color: rgb(237, 76, 18);
  }
}
